@font-face {
    font-family: 'Lato';
    src: url("assets/fonts/Lato-Thin.ttf");
    font-weight: 100;
}
@font-face {
    font-family: 'Lato';
    src: url("assets/fonts/Lato-Regular.ttf");
    font-weight: 300;
}
@font-face {
    font-family: 'Lato';
    src: url("assets/fonts/Lato-Bold.ttf");
    font-weight: 600;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
  }

body {
    font-family: 'Lato';
    background: #EEE8FF;
}

.container {
    width: 1440px;
    margin: 40px auto;
    padding-right: 100px;
    padding-left: 100px;
}

header {
    display: flex;
    background: #fff;
}

.header-text {
    flex-direction: column;
    margin-left: 70px;
    margin-top: 20px;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 
 
img {
    width: 20%;
}
h1 {
    font-size: 54px;
    color:#3F1892;
    margin-bottom: 10px;
    margin-top: 30px;
}

.contact-list {
    display: flex;
    justify-content: space-between;
    width: 800px;
    list-style: none;
    margin-bottom: 30px;
    padding-left: 0;

}

.contact-list a:hover,
.portfolio-list a:hover {
    opacity: 0.5;
}

h2 {
    font-size: 34px;
    margin-bottom: 20px;
    color:#3F1892;
}
p {
    font-size: 18px;
    color: #3F1892;
    line-height: 24px;
}

ul {
    padding-left: 20px;
}

li {
    font-size: 18px;
    color: #3F1892;
    font-weight: 300;
    line-height: 24px;
}

nav {
    margin-left: -37px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 922px;
}

.nav-link {
    font-size: 16px;
    color: #3F1892;
    opacity: 0.5;
    padding: 0 20px;
    line-height: 50px;
    transition: 0.3s;
}

.nav-link:hover {
    opacity: 1;
}

.contacts {
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: #3F1892;
}

code {
    background: #fff;
    padding: 20px;
}

.code-example-title {
    margin-bottom: 40px;
}

footer {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.github {
    font-size: 20px;
    font-weight: 600;
}

.github:hover {
    opacity: 0.5;
}

.logo-course {
    width: 200px;
}
.year {
    font-size: 16px;
    color: #3F1892;
}
