@font-face {
    font-family: 'Lato';
    src: url("assets/fonts/Lato-Thin.ttf");
    font-weight: 100;
}
@font-face {
    font-family: 'Lato';
    src: url("assets/fonts/Lato-Regular.ttf");
    font-weight: 300;
}

@font-face {
    font-family: 'Lato';
    src: url("assets/fonts/Lato-Bold.ttf");
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
}

body {
    padding: 100px;
    font-family: 'Lato';
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 50px;
    background: lightcyan;
}

main {
    display: flex;
    justify-content: space-between;
    background: azure;
}   

img {
    width: 20%;
}

h1 {
    font-size: 54px;
}

.contacts {
    margin-right: 300px;
    margin-bottom: 0;
}

li .contacts {
    padding-bottom: 14px;
}

h3 {
    font-size: 34px;
    padding-bottom: 14px;
    padding-top: 64px;
}

p {
    font-size: 22px;
    margin-bottom: 40px;
    color: grey;
}

li {
    font-size: 22px;
    color: grey;
    font-weight: 300;
}

ul {
    margin-bottom: 40px;
}

.left-side {
    width: 30%;
    padding-left: 100px;
}

.right-side {
    margin-right: 174px;
}

a {
    text-decoration: none;
    color: grey;
}

.contact-item {
    font-size: 20px;
}